#s-1069e294-99db-4005-8e75-8d366129b3f1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Image_1 {
  position: absolute;
  width: 375px;
  height: 667px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Image_1 > img, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Image_1 > svg {
  height: 667px;
  width: 375px;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #0070BA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 22px 22px 22px 22px;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_2 {
  position: absolute;
  width: 162px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Open Sans',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_2 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_2 > .paddingLayer {
  height: 42px;
  width: 160px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Hotspot_1 {
  position: absolute;
  width: 227px;
  height: 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Hotspot_1 > img, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Hotspot_1 > svg {
  height: 91px;
  width: 227px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_1 {
  position: absolute;
  width: 236px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_1 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_1 > .paddingLayer {
  height: 33px;
  width: 236px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_1 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Image_2 {
  position: absolute;
  width: 150px;
  height: 110px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Image_2 > img, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Image_2 > svg {
  height: 110px;
  width: 150px;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F7FB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_3 {
  position: absolute;
  width: 167px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_3 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_3 > .paddingLayer {
  height: 31px;
  width: 167px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_2 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F7FB;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_4 {
  position: absolute;
  width: 192px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_4 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_4 > .paddingLayer {
  height: 39px;
  width: 192px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F7FB;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_5 {
  position: absolute;
  width: 273px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_5 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_5 > .paddingLayer {
  height: 39px;
  width: 273px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_4 > .clipping, #s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1069e294-99db-4005-8e75-8d366129b3f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}