#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Left_Arrow {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7660444431189778,M12=0.6427876096865396,M21=-0.6427876096865396,M22=0.7660444431189778);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7660444431189778,M12=0.6427876096865396,M21=-0.6427876096865396,M22=0.7660444431189778);
  margin-left: -5px;
  margin-top: -4px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}