#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Brian_Table {
  border-collapse: separate;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_7 {
  -ms-transform: rotate(320.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Alex_Table {
  border-collapse: separate;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-QingLin_Table {
  border-collapse: separate;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1334a6eb-a9b2-4dda-920f-5b6dcd8a45e6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}