#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Ellipse_1 {
  stroke-width: 2px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_9 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}