#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-15258e50-e4f8-4f9f-8d84-64da761b5d40 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}