#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Brian_Table {
  border-collapse: separate;
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_7 {
  -ms-transform: rotate(320.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Alex_Table {
  border-collapse: separate;
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Jacie_Table {
  border-collapse: separate;
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-QingLin_Table {
  border-collapse: separate;
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Valerie_Table {
  border-collapse: separate;
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Spotify_Icon {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-17c048e8-0cdf-42fb-8a9e-cb09409ced93 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}