#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Table_1 {
  border-collapse: separate;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B0B0B0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B0B0B0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B0B0B0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B0B0B0;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Brian_Table {
  border-collapse: separate;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_7 {
  -ms-transform: rotate(320.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Alex_Table {
  border-collapse: separate;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Jacie_Table {
  border-collapse: separate;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-QingLin_Table {
  border-collapse: separate;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Valerie_Table {
  border-collapse: separate;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Line_1 {
  stroke-width: 1px;
  stroke: rgba(153,153,153,0.4);
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Line_1 {
  stroke-width: 1px;
  stroke: rgba(153,153,153,0.4);
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Confirm_Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ED5E68;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ED5E68;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ED5E68;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ED5E68;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}