#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7660444431189778,M12=0.6427876096865396,M21=-0.6427876096865396,M22=0.7660444431189778);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7660444431189778,M12=0.6427876096865396,M21=-0.6427876096865396,M22=0.7660444431189778);
  margin-left: -5px;
  margin-top: -4px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 #s-Confirm_Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1db2489a-f8c0-41c6-98a9-572646260ea2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}