#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2ba6ed05-c4e9-4134-8427-b99758b24b71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}