#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Cover_Cart_Box {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Right_Arrow {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Left_Arrow {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}