#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Cover_Cart_Box {
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Right_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Right_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-31346d38-f5d0-4300-9cbf-fa8565d141d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}