#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box {
  position: absolute;
  width: 66px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box > .clipping, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box > .paddingLayer {
  height: 33px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box .valign {
  vertical-align: middle;
  text-align: center;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box span#rtr-s-Cover_Cart_Box_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_1 {
  position: absolute;
  width: 375px;
  height: 117px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_1 > img, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_1 > svg {
  height: 117px;
  width: 375px;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #shapewrapper-s-Left_Arrow marker {
  fill: #8F8F8F;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #shapewrapper-s-Left_Arrow {
  position: absolute;
  width: 20px;
  height: 11px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Left_Arrow {
  width: 20px;
  height: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #8F8F8F;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 {
  position: absolute;
  width: 152px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 > .clipping, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 > .paddingLayer {
  height: 44px;
  width: 152px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 input::-webkit-input-placeholder {
  color: #8F8F8F;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 input::-moz-placeholder {
  color: #8F8F8F;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 input:-moz-placeholder {
  color: #8F8F8F;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 input:-ms-input-placeholder {
  color: #8F8F8F;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 {
  position: absolute;
  width: 319px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 input {
  color: #8F8F8F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(200,200,200,0.0);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(200,200,200,0.0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(200,200,200,0.0);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(200,200,200,0.0);
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Input_1 > .paddingLayer {
  height: 38px;
  width: 302px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 > .clipping, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_2 {
  position: absolute;
  width: 64px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_2 > img, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_2 > svg {
  height: 58px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_3 {
  position: absolute;
  width: 375px;
  height: 551px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_3 > img, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_3 > svg {
  height: 551px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Brian_Table {
  position: absolute;
  width: 376px;
  height: 68px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Brian_Table > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Brian_Table > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cell_11 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cell_11 {
  width: 376px;
  height: 68px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 > .clipping, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 span {
  color: #8F8F8F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #8F8F8F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 > .clipping, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_3 {
  position: absolute;
  width: 52px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_3 > img, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_3 > svg {
  height: 52px;
  width: 52px;
  box-shadow: none;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_1 {
  position: absolute;
  width: 375px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_1 > img, #s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Hotspot_1 > svg {
  height: 67px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}