#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Cover_Cart_Box {
  -ms-transform: rotate(0.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Left_Arrow {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Brian_Table {
  border-collapse: separate;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-38841e72-e0ba-49e5-ae03-e5f07b958a32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}