#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(176,176,176,0.4);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(176,176,176,0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(176,176,176,0.4);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(176,176,176,0.4);
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_7 {
  -ms-transform: rotate(345.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(176,176,176,0.4);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(176,176,176,0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(176,176,176,0.4);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(176,176,176,0.4);
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Confirm_Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_3 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_3 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_11 {
  -ms-transform: rotate(345.0deg);
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Confirm_Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}