#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=0.2588190451025207,M21=-0.2588190451025207,M22=0.9659258262890683);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=0.2588190451025207,M21=-0.2588190451025207,M22=0.9659258262890683);
  margin-left: -2px;
  margin-top: -2px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Confirm_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Image_11 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=0.2588190451025207,M21=-0.2588190451025207,M22=0.9659258262890683);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=0.2588190451025207,M21=-0.2588190451025207,M22=0.9659258262890683);
  margin-left: -2px;
  margin-top: -2px;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 #s-Confirm_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3d560776-f226-4982-bd43-1e1e9d4b6071 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}