#s-42baa9a3-42af-4c79-8357-ac327dc16a0b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42baa9a3-42af-4c79-8357-ac327dc16a0b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42baa9a3-42af-4c79-8357-ac327dc16a0b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42baa9a3-42af-4c79-8357-ac327dc16a0b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42baa9a3-42af-4c79-8357-ac327dc16a0b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42baa9a3-42af-4c79-8357-ac327dc16a0b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42baa9a3-42af-4c79-8357-ac327dc16a0b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-42baa9a3-42af-4c79-8357-ac327dc16a0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}