#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-587f40c0-5a4e-4e8e-8181-a132bc1dbba9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}