#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-65ec989c-0da4-4846-80b9-b6286ec3931c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}