#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Table_1 {
  border-collapse: separate;
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Netflix_Logo {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Line_1 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Line_1 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7a6590f5-d3de-4106-a039-27c574c6d3f8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}