#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Table_1 {
  border-collapse: separate;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Netflix_Logo {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Line_1 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Line_1 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Spotify_Pending {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Spotify_Confirm {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Info {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(176,176,176,0.4);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(176,176,176,0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(176,176,176,0.4);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(176,176,176,0.4);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Notification-lite {
  border-radius: 0px 0px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_91 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_93 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}