#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Netflix_Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Spotify_Pending {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Spotify_Confirm {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Notification-lite {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a245f558-534b-43c4-8fef-8a596756aa1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}