#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}