#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Table_1 {
  border-collapse: separate;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_14 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_14 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_15 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_15 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_16 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_16 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_17 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_17 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_18 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_18 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_19 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Line_19 {
  stroke-width: 1px;
  stroke: #B0B0B0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40) alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b4063e75-0918-468f-afff-70df5195bbd3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}