#s-c484915a-1936-459b-8386-713637897cbf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Table_1 {
  border-collapse: separate;
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B0B0B0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B0B0B0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B0B0B0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B0B0B0;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Confirm_Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Brian_Table {
  border-collapse: separate;
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_7 {
  -ms-transform: rotate(320.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Confirm_Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Alex_Table {
  border-collapse: separate;
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Confirm_Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Jacie_Table {
  border-collapse: separate;
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Confirm_Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-QingLin_Table {
  border-collapse: separate;
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Confirm_Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Valerie_Table {
  border-collapse: separate;
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Confirm_Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c484915a-1936-459b-8386-713637897cbf #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c484915a-1936-459b-8386-713637897cbf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}