#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00CE90;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00CE90;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00CE90;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00CE90;
  border-radius: 27px 27px 27px 27px;
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}