#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c87855ef-3f67-4c2f-a935-8614fbeed5f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}