#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c9272cbd-5732-4a34-9505-23d6eb125593 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}