#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Cover_Cart_Box {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Right_Arrow {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Left_Arrow {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Max_Users_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ceb4945b-cf96-4e5e-946e-f505371d0c14 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}