#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}