#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Table_1 {
  border-collapse: separate;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cf3abab0-66dc-467a-a52e-69aa506952f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}