#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cf5feb7b-4e17-47d4-9533-debaa612881e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}