#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ee7be2aa-05cd-452d-a92e-ef50e9399c96 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}