#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Left_Arrow_1 {
  stroke-width: 2px;
  stroke: #8F8F8F;
  -ms-transform: rotate(180.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Confirm_Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0070BA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0070BA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0070BA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0070BA;
  border-radius: 23px 23px 23px 23px;
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}