#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Left_Arrow_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Confirm_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f8342722-bdd9-4d60-8628-5990c6e3b124 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}