#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}