#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #0070BA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 > .clipping, #m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 > .paddingLayer {
  height: 49px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Rectangle_1 span#rtr-m-08e126e3-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 > .clipping, #m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Text_21 span#rtr-m-08e126e3-Text_21_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Image_20 > svg {
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Image_20 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Image_20 > img, #m-08e126e3-df91-474c-bd94-371f681846c2 #m-08e126e3-Image_20 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#m-08e126e3-df91-474c-bd94-371f681846c2.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}