#m-12684675-82aa-426a-a6f2-bf6dc0b91261 #shapewrapper-m-12684675-Left_Arrow marker {
  fill: #8F8F8F;
}
#m-12684675-82aa-426a-a6f2-bf6dc0b91261 #shapewrapper-m-12684675-Left_Arrow {
  position: absolute;
  width: 20px;
  height: 11px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-12684675-82aa-426a-a6f2-bf6dc0b91261 #m-12684675-Left_Arrow {
  width: 20px;
  height: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #8F8F8F;
  box-shadow: none;
}
#m-12684675-82aa-426a-a6f2-bf6dc0b91261.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}