#m-12684675-82aa-426a-a6f2-bf6dc0b91261 #m-12684675-Left_Arrow {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#m-12684675-82aa-426a-a6f2-bf6dc0b91261.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}