#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_1 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_1 > img, #m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_1 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_2 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_2 > img, #m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_2 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_3 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_3 > img, #m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_3 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_4 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_4 > img, #m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_4 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_5 {
  position: absolute;
  width: 59px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_5 > img, #m-d552f0c2-e379-495e-9930-618e0356e58d #m-d552f0c2-Image_5 > svg {
  height: 59px;
  width: 59px;
  box-shadow: none;
}
#m-d552f0c2-e379-495e-9930-618e0356e58d.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}