#m-d6918039-ec22-4819-81c3-aee48c55b85a #m-d6918039-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3EB84C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3EB84C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3EB84C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3EB84C;
  border-radius: 19px 19px 19px 19px;
  -ms-transform: rotate(0.0deg);
}
#m-d6918039-ec22-4819-81c3-aee48c55b85a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}